<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <!--css botstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h2 class="text-center bg-warning"><%= title %></h2>
     <!--input list-->
        <table class="table table-dark table-striped ">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Hari</th>
                <th scope="col">Penggunaan HP</th>
                <th scope="col">Hari Yang Menyenangkan(Y/N)</th>
                <th scope="col">Olahraga(Y/N)</th>
                <th scope="col">Cerita Hari Ini</th>
              </tr>
            </thead>
            <tbody>
                <% for (let user of users) { %>
                 <tr>
                    <th scope="row"><%= user.id %></th>
                    <th scope="row"><%= user.date %></th>
                    <th scope="row"><%= user.hari %></th>
                    <th scope="row"><%= user.hape %></th>
                    <th scope="row"><%= user.fun %></th>
                    <th scope="row"><%= user.olah %></th>
                    <th scope="row"><%= user.cerita %></th>
                 </tr>
                    <% } %>
            </tbody>
          </table>
         <form action="/tambah" method="post">
             <!--input form-->
              <div>
                  <h3 class="text-center bg-warning">Masukkan ke List</h3>
              </div>
            <div class="row mb-3">
              <label for="hari" class="col-sm-2 col-form-label">Hari</label>
              <div class="col-sm-10">
                <input type="text" name="hari" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="hape" class="col-sm-2 col-form-label">Penggunaan HP</label>
              <div class="col-sm-10">
                <input type="text" name="hape" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
                <label for="fun" class="col-sm-2 col-form-label">Hari Yang Menyenangkan</label>
                <div class="col-sm-10">
                  <input type="text" name="fun" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="olah" class="col-sm-2 col-form-label">Olahraga</label>
                <div class="col-sm-10">
                  <input type="text" name="olah" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="cerita" class="col-sm-2 col-form-label">Cerita</label>
                <div class="col-sm-10">
                  <input type="text" name="cerita" class="form-control">
                </div>
              </div>
              <!--button submit-->
                <input type="submit" class="btn btn-danger" value="Tambahkan"/>
         </form>
    </div>
 <!--script botstrap5-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>